<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ person.name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <main class="container">
        <h1 class="page-title">Modifier {{ person.name }}</h1>

        <form method="post" action="/people/{{ person._id }}/edit" class="card form-card">
            <label>Nom</label>
            <input 
                type="text"
                name="name"
                placeholder="Nom du membre de la famille"
                value="{{ person.name or '' }}" required
                >

            <label>Location</label>
            <input 
                type="text"
                name="location"
                placeholder="{{person.location or ''}}"
                value="{{ query or '' }}">

            <label>Epoux/se</label>
            <input 
                type="text"
                name="spouse"
                placeholder="{{person.spouse or ''}}"
                value="{{ query or '' }}">

            <button type="submit">Enregistrer</button>
            <a class="button secondary" href="/people/{{ person._id }}">Annuler</a>
        </form>
    </main>
</body>
</html>