<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <main class="container">
        <h1 class = "page-title">Descendants Nzepi</h1>

        <div class="top-bar">
            <a href="/" class="home-logo">🏠</a>
            <a href="/login" class="admin-link">Administrateur</a>
        </div>

        <form method="get" action="/" class="search-form">
            <input
                type="text"
                name="q"
                placeholder="Recherche par nom"
                value="{{ query or '' }}"
            >
            <button type="submit" >Chercher</button>
        </form>
        
        <ul class="card-list">
            {% for person in people %}
                <li class="card">
                    <a href="/people/{{ person._id }}" class = "person-link" >{{ person.name }}</a>
                    <p class = "person-location">{{ person.location or "Pas de location" }}</p>
                </li>
            {% else %}
                <li class="card">Pas de membres de famille enregistrés.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>