<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <main class="container">
        <h1 class="page-title">Administrateur</h1>
        {% if not request.session.get('is_admin') %}
        <form method="post" action="/login" class="login-form">
            <label>Nom d'utilisateur</label>
            <input 
                type="text"
                name="username"
                placeholder="Entrez votre nom d'utilisateur"
                required
                oninvalid="this.setCustomValidity('Entrez votre nom d'utilisateur')"
                oninput="this.setCustomValidity('')">

            <label>Mot de passe</label>
            <input 
                type="password"
                name="password"
                placeholder="Entrez votre mot de passe"
                oninvalid="this.setCustomValidity('Entrez votre mot de passe')"
                oninput="this.setCustomValidity('')"
                required>

            <button type="submit">Soumettre</button>
            {% endif %}
            <a class="button secondary" href="/">Retour</a>
        </form>
    </main>
</body>
</html>